@media screen and (max-width:991px) {
    .tools {
        padding: 60px 0
    }
}

.tools p {
    color: #323232
}

@media screen and (max-width:575px) {
    .tools {
        padding: 56px 0 58px
    }
}

.tools__list--bottom {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

@media (max-width:991px) {
    .tools__list--bottom {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.tools__list--bottom .tools__list--item {
    margin-right: 2px;
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 24.9% !important;
    flex: 0 0 24.9% !important
}

@media (max-width:991px) {
    .tools__list--bottom .tools__list--item {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 49.5% !important;
        flex: 0 0 49.5% !important;
        margin-bottom: 2px
    }
}

.tools__list--bottom .tools__list--item.item-1 {
    background-color: #dfeeff !important;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 0 !important
}

@media (max-width:991px) {
    .tools__list--bottom .tools__list--item.item-1 {
        border-radius: 0
    }
}

@media screen and (max-width:575px) {
    .tools__list--bottom .tools__list--item.item-1 {
        border-radius: 0 !important
    }
}

.tools__list--bottom .tools__list--item.item-1 h3:before,
.tools__list--bottom .tools__list--item.item-1 p:before {
    background-image: url(img/product/group-25.svg) !important
}

.tools__list--bottom .tools__list--item.item-2 {
    background-color: #eaf3fe;
    border-top-right-radius: 0 !important
}

.tools__list--bottom .tools__list--item.item-2 h3:before,
.tools__list--bottom .tools__list--item.item-2 p:before {
    background-image: url(img/product/group-33.svg) !important
}

.tools__list--bottom .tools__list--item.item-3 {
    background-color: #f1f8ff;
    padding-top: 31px
}

@media (max-width:991px) {
    .tools__list--bottom .tools__list--item.item-3 {
        border-bottom-left-radius: 10px
    }
}

@media screen and (max-width:575px) {
    .tools__list--bottom .tools__list--item.item-3 {
        border-radius: 0
    }
}

.tools__list--bottom .tools__list--item.item-3 .list {
    margin-top: 28px
}

.tools__list--bottom .tools__list--item.item-3 h3:before,
.tools__list--bottom .tools__list--item.item-3 p:before {
    background-image: url(img/product/group-29.svg);
    top: -4px
}

@media screen and (max-width:575px) {

    .tools__list--bottom .tools__list--item.item-3 h3:before,
    .tools__list--bottom .tools__list--item.item-3 p:before {
        top: -14px
    }
}

.tools__list--bottom .tools__list--item.item-4 {
    background-color: #dfeeff;
    border-bottom-right-radius: 10px
}

@media screen and (max-width:575px) {
    .tools__list--bottom .tools__list--item.item-4 {
        border-bottom-left-radius: 10px
    }
}

.tools__list--bottom .tools__list--item.item-4 h3:before,
.tools__list--bottom .tools__list--item.item-4 p:before {
    background-image: url(img/product/group-15.svg)
}

.tools__list--item {
    padding: 37px 20px 20px
}

@media (max-width:575px) {
    .tools__list--item h3 {
        display: inline-block
    }
}

.tools__list--item h3,
.tools__list--item p {
    font-size: 16px;
    line-height: 1.31;
    color: #1476f2;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 50px;
    position: relative
}

.tools__list--item h3:before,
.tools__list--item p:before {
    content: "";
    position: absolute;
    left: -3px;
    top: -14px;
    width: 48px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: 50% 50%
}

.tools__list--item .list {
    margin-top: 39px
}

.tools__list--item .list li {
    display: inline-block;
    font-size: 16px;
    line-height: 1.25;
    border-radius: 13px;
    border: 1px solid rgba(20, 118, 242, .2);
    padding: 3px 10px;
    margin-bottom: 14px
}

@media screen and (max-width:575px) {
    .tools__list--item .list li {
        margin-bottom: 7px;
        padding: 3px 8px
    }
}

.tools__list--top {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2px
}

.tools__list--top .item-1 h3:before,
.tools__list--top .item-1 p:before {
    background-image: url(img/product/group-19.svg)
}

@media screen and (max-width:575px) {
    .tools__list--top {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 0
    }
}

.tools__list .tools__list--item {
    margin-right: 2px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding-right: 15px
}

@media (max-width:991px) {
    .tools__list .tools__list--item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 49.5%;
        flex: 0 0 49.5%
    }
}

@media screen and (max-width:575px) {
    .tools__list .tools__list--item {
        -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        margin: 0;
        margin-bottom: 2px
    }
}

.tools__list .tools__list--item.item-1 {
    background-color: #f1f8ff;
    border-top-left-radius: 10px
}

@media screen and (max-width:575px) {
    .tools__list .tools__list--item.item-1 {
        border-top-right-radius: 10px
    }
}

.tools__list .tools__list--item.item-2 {
    background-color: #eaf3fe;
    border-top-right-radius: 10px
}

@media screen and (max-width:575px) {
    .tools__list .tools__list--item.item-2 {
        border-radius: 0
    }
}

.tools__list .tools__list--item.item-2 h3:before,
.tools__list .tools__list--item.item-2 p:before {
    background-image: url(img/product/group-40.svg)
}

.tools__content {
    max-width: 800px;
    margin: 0 auto 50px;
    text-align: center
}

@media screen and (max-width:575px) {
    .tools__content {
        margin: 0 auto 40px
    }
}

.tools__content h2 {
    line-height: 30px;
    margin-bottom: 5px
}

@media screen and (max-width:575px) {
    .tools__content h2 {
        font-size: 24px;
        line-height: 36px
    }
}

.tools__content h3 {
    font-size: 18px;
    line-height: 1.67;
    font-weight: 400
}

@media screen and (max-width:575px) {
    .tools__content h3 {
        font-size: 16px;
        line-height: 27px
    }
}

.choose-us {
    padding: 73px 0 50px;
    background-color: #fafafa
}

@media screen and (max-width:991px) {
    .enterprise-development-offers .offers-tabcontent .tabcontent-item .offer-image {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 30%;
        flex: 0 1 30%
    }
}

.enterprise-development-offers .offers-tabcontent .tabcontent-item .offer-content-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 9px;
    text-transform: unset
}

@media (min-width:768px) {
    .latest-teach.enterprise-development-latest {
        background: -webkit-gradient(linear, left bottom, left top, from(#fafafa), to(#fafafa));
        background: -webkit-linear-gradient(bottom, #fafafa, #fafafa);
        background: linear-gradient(0deg, #fafafa, #fafafa);
        padding: 70px 0 0
    }

    .latest-teach.enterprise-development-latest .teach-description {
        max-width: 880px
    }

    .latest-teach.enterprise-development-latest .teach-title {
        margin-bottom: 11px
    }
}

body.platforms-travel-hospitality-software-development .tools,
body.services-enterprise-software-development .tools,
body.services-mobile-app-development-services .tools {
    padding: 80px 0
}

@media screen and (max-width:767px) {

    body.platforms-travel-hospitality-software-development .tools,
    body.services-enterprise-software-development .tools,
    body.services-mobile-app-development-services .tools {
        padding: 60px 0
    }
}

body.platforms-travel-hospitality-software-development .tools .tools__content,
body.services-enterprise-software-development .tools .tools__content,
body.services-mobile-app-development-services .tools .tools__content {
    max-width: 880px
}

body.platforms-travel-hospitality-software-development .tools .tools__content p,
body.services-enterprise-software-development .tools .tools__content p,
body.services-mobile-app-development-services .tools .tools__content p {
    color: #323232
}

body.platforms-travel-hospitality-software-development .lifecycle,
body.services-enterprise-software-development .lifecycle,
body.services-mobile-app-development-services .lifecycle {
    padding: 80px 0
}

@media screen and (max-width:767px) {

    body.platforms-travel-hospitality-software-development .lifecycle,
    body.services-enterprise-software-development .lifecycle,
    body.services-mobile-app-development-services .lifecycle {
        padding: 60px 0
    }
}

body.platforms-travel-hospitality-software-development .lifecycle .services__description,
body.services-enterprise-software-development .lifecycle .services__description,
body.services-mobile-app-development-services .lifecycle .services__description {
    max-width: 880px;
    margin: 19px auto 111px
}